{% extends 'base.html.twig' %}

{% block title %}Dahiras index{% endblock %}

{% block body %}
    <a href="{{ path('app_dahiras_new') }}" class="btn btn-info">Create new</a>
    <table class="table app-table-hover mb-0 text-left">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Membres</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for dahira in dahiras %}
            <tr>
                <td class="cell">{{ dahira.id }}</td>
                <td class="cell"><span class="truncate">{{ dahira.nom }}</span></td>

                <td class="cell">
                    <a class="btn btn-info app-btn-info" href="{{ path('app_dahiras_show', {'id': dahira.id}) }}"><i class="text-white fa fa-eye"></i></a>
                    <a class="btn btn-primary app-btn-primary" href="{{ path('app_dahiras_edit', {'id': dahira.id}) }}"><i class="text-white fa fa-edit"></i></a>
                    {% include 'dahiras/_delete_form.html.twig' %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
