{% extends 'base.html.twig' %}

{% block title %}Dahiras index{% endblock %}

{% block body %}
    <h1>Dahiras index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dahira in dahiras %}
            <tr>
                <td>{{ dahira.id }}</td>
                <td>{{ dahira.nom }}</td>
                <td>
                    <a href="{{ path('app_dahiras_show', {'id': dahira.id}) }}">show</a>
                    <a href="{{ path('app_dahiras_edit', {'id': dahira.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_dahiras_new') }}">Create new</a>
{% endblock %}
